
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Quicksand:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin: 1rem;
    font-family: 'Quicksand';
}

.hello{
    font-family: 'Montserrat';
}